USE [master]
GO
/****** Object:  Database [TelenetDB]    Script Date: 01.12.2025 13:57:10 ******/
CREATE DATABASE [TelenetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TelenetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2\MSSQL\DATA\TelenetDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TelenetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER2\MSSQL\DATA\TelenetDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TelenetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TelenetDB]
GO
/****** Object:  DatabaseRole [RoleSupport]    Script Date: 01.12.2025 13:57:11 ******/
CREATE ROLE [RoleSupport]
GO
/****** Object:  DatabaseRole [RoleFinancer]    Script Date: 01.12.2025 13:57:11 ******/
CREATE ROLE [RoleFinancer]
GO
/****** Object:  DatabaseRole [RoleAdmin]    Script Date: 01.12.2025 13:57:11 ******/
CREATE ROLE [RoleAdmin]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateCallCost]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalculateCallCost] (@CallDuration INT, @TariffID INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @CostPerMinute DECIMAL(10,2);
    DECLARE @TotalCost DECIMAL(10,2);

    SELECT @CostPerMinute = TARIFF_COST / TARIFF_MINUTES_LIMIT
    FROM TARIFF
    WHERE TARIFF_ID = @TariffID;

    SET @TotalCost = @CallDuration * @CostPerMinute;
    RETURN @TotalCost;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Calculator]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Calculator] 
(@Opd1 BIGINT, 
@Opd2 BIGINT, 
@Oprt char(1) = '*') 
RETURNS BIGINT 
AS 
BEGIN
DECLARE @Result BIGINT 
SET @Result = CASE @Oprt 
WHEN '+' THEN @Opd1 + @Opd2 
WHEN '-' THEN @Opd1 - @Opd2 
WHEN '*' THEN @Opd1 * @Opd2 
WHEN '/' THEN @Opd1 / @Opd2 
ELSE 0
END 
RETURN @Result 
END;
GO
/****** Object:  UserDefinedFunction [dbo].[GetDynamicSubscriberData]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetDynamicSubscriberData](@Columns NVARCHAR(MAX))
RETURNS @Result TABLE (
    -- Здесь определяем все возможные столбцы, но возвращаем только выбранные
    SubscriberID INT NULL,
    FullName NVARCHAR(201) NULL,
    PhoneNumber NVARCHAR(20) NULL,
    Status NVARCHAR(20) NULL,
    ConnectionDate DATE NULL
)
AS
BEGIN
    DECLARE @SQL NVARCHAR(MAX);
    
    -- Базовый запрос с динамическим выбором столбцов
    SET @SQL = N'
    INSERT INTO @Result (' + @Columns + ')
    SELECT ' + @Columns + '
    FROM (
        SELECT
            s.SUBSCRIBER_ID AS SubscriberID,
            s.SUBSCRIBER_LASTNAME + '' '' + s.SUBSCRIBER_FIRSTNAME AS FullName,
            p.PHONE_NUMBER AS PhoneNumber,
            p.PHONE_STATUS AS Status,
            p.PHONE_ACTIVATION_DATE AS ConnectionDate
        FROM SUBSCRIBER s
        JOIN PHONE_NUMBER p ON s.SUBSCRIBER_ID = p.SUBSCRIBER_ID
    ) AS SourceData';
    
    -- Выполняем динамический SQL
    EXEC sp_executesql @SQL;
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Parse]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Parse] (@String nvarchar(500))
RETURNS @tabl TABLE (NumPosition int identity (1,1) NOT NULL, Substr nvarchar(30))
AS 
BEGIN
    DECLARE @r int, @l int;
    SET @String = LTRIM(RTRIM(@String));
    SET @l = 1;
    
    WHILE 1 = 1
    BEGIN
        SET @r = CHARINDEX(' ', @String, @l);
        
        IF @r = 0
        BEGIN
            IF LEN(@String) >= @l
                INSERT INTO @tabl VALUES(SUBSTRING(@String, @l, LEN(@String) - @l + 1));
            BREAK;
        END
        
        IF @r > @l
            INSERT INTO @tabl VALUES(SUBSTRING(@String, @l, @r - @l));
        
        SET @l = @r + 1;
        
        -- Пропускаем множественные пробелы
        WHILE SUBSTRING(@String, @l, 1) = ' ' AND @l <= LEN(@String)
            SET @l = @l + 1;
    END
    
    RETURN;
END;
GO
/****** Object:  Table [dbo].[CALL]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALL](
	[CALL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CALLER_ID] [int] NOT NULL,
	[CALL_RECIPIENT_NUMBER] [nvarchar](20) NOT NULL,
	[CALL_DATE] [datetime] NOT NULL,
	[CALL_DURATION] [int] NOT NULL,
	[CALL_COST] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__CALL__F84E7FCC07D3F1D5] PRIMARY KEY CLUSTERED 
(
	[CALL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_LAST_NAME] [nvarchar](100) NOT NULL,
	[EMPLOYEE_FIRST_NAME] [nvarchar](100) NOT NULL,
	[EMPLOYEE_PATRONYMIC] [nvarchar](100) NULL,
	[EMPLOYEE_POSITION] [nvarchar](50) NOT NULL,
	[EMPLOYEE_EMAIL] [nvarchar](100) NOT NULL,
	[EMPLOYEE_STATUS] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__EMPLOYEE__CBA14F48695E11A5] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EQUIPMENT]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPMENT](
	[EQUIPMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PHONE_ID] [int] NULL,
	[EQUIPMENT_TYPE] [nvarchar](50) NOT NULL,
	[EQUIPMENT_MODEL] [nvarchar](100) NOT NULL,
	[EQUIPMENT_STATUS] [nvarchar](20) NOT NULL,
	[EQUIPMENT_INSTALLATION_DATE] [date] NOT NULL,
 CONSTRAINT [PK__EQUIPMEN__ACB6E3C064AC3291] PRIMARY KEY CLUSTERED 
(
	[EQUIPMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAINTENANCE]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAINTENANCE](
	[WORK_ID] [int] IDENTITY(1,1) NOT NULL,
	[EQUIPMENT_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[WORK_TYPE] [nvarchar](50) NOT NULL,
	[WORK_START_DATE] [datetime] NOT NULL,
	[WORK_END_DATE] [datetime] NULL,
	[WORK_RESULT] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[WORK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIBER_ID] [int] NOT NULL,
	[PAYMENT_AMOUNT] [decimal](10, 2) NOT NULL,
	[PAYMENT_DATE] [datetime] NOT NULL,
	[PAYMENT_METHOD] [nvarchar](50) NOT NULL,
	[PAYMENT_STATUS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__PAYMENT__D2C4FF465672789F] PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONE_NUMBER]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONE_NUMBER](
	[PHONE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIBER_ID] [int] NOT NULL,
	[PHONE_NUMBER] [nvarchar](20) NOT NULL,
	[PHONE_STATUS] [nvarchar](20) NOT NULL,
	[PHONE_ACTIVATION_DATE] [date] NOT NULL,
 CONSTRAINT [PK__PHONE_NU__1BB5AF5F8C4D210E] PRIMARY KEY CLUSTERED 
(
	[PHONE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST_STATUS]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_STATUS](
	[REQUEST_STATUS_ID] [int] IDENTITY(1,1) NOT NULL,
	[REQUEST_STATUS_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_REQUEST_STATUS] PRIMARY KEY CLUSTERED 
(
	[REQUEST_STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUEST_TYPE]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUEST_TYPE](
	[REQUEST_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[REQUEST_TYPE_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_REQUEST_TYPE] PRIMARY KEY CLUSTERED 
(
	[REQUEST_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[SERVICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TARIFF_ID] [int] NOT NULL,
	[SERVICE_NAME] [nvarchar](100) NOT NULL,
	[SERVICE_DESCRIPTION] [text] NULL,
	[SERVICE_COST] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__SERVICE__30358F5A37658FCF] PRIMARY KEY CLUSTERED 
(
	[SERVICE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE_REQUEST]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE_REQUEST](
	[REQUEST_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIBER_ID] [int] NOT NULL,
	[REQUEST_TYPE_ID] [int] NOT NULL,
	[REQUEST_STATUS_ID] [int] NOT NULL,
	[REQUEST_DESCRIPTION] [text] NULL,
	[REQUEST_CREATION_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK__SERVICE___71D2766CAB69DD63] PRIMARY KEY CLUSTERED 
(
	[REQUEST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBSCRIBER]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBSCRIBER](
	[SUBSCRIBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBSCRIBER_LASTNAME] [varchar](100) NOT NULL,
	[SUBSCRIBER_FIRSTNAME] [varchar](100) NOT NULL,
	[SUBSCRIBER_PATRONYMIC] [varchar](100) NULL,
	[SUBSCRIBER_ADDRESS] [varchar](100) NOT NULL,
	[SUBSCRIBER_CONNECTION_DATE] [date] NOT NULL,
	[SUBSCRIBER_STATUS] [varchar](100) NOT NULL,
	[SUBSCRIBER_TARIFF_ID] [int] NULL,
 CONSTRAINT [PK__SUBSCRIB__732BB770EE8370CA] PRIMARY KEY CLUSTERED 
(
	[SUBSCRIBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARIFF]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFF](
	[TARIFF_ID] [int] IDENTITY(1,1) NOT NULL,
	[TARIFF_NAME] [nvarchar](50) NOT NULL,
	[TARIFF_COST] [decimal](10, 2) NOT NULL,
	[TARIFF_DESCRIPTION] [text] NULL,
	[TARIFF_MINUTES_LIMIT] [int] NOT NULL,
	[TARIFF_DATA_LIMIT] [int] NOT NULL,
 CONSTRAINT [PK__TARIFF__DB5841E189049A33] PRIMARY KEY CLUSTERED 
(
	[TARIFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[DYNTAB]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DYNTAB] (@state CHAR(2)) 
RETURNS Table 
AS 
RETURN SELECT s.SUBSCRIBER_LASTNAME, s.SUBSCRIBER_FIRSTNAME, s.SUBSCRIBER_PATRONYMIC FROM SUBSCRIBER s
WHERE s.SUBSCRIBER_STATUS = @state;
GO
/****** Object:  UserDefinedFunction [dbo].[GetActiveSubscribers]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetActiveSubscribers]()
RETURNS TABLE  
AS  
RETURN  
    SELECT
        sub.[SUBSCRIBER_LASTNAME] + ' ' 
		+ sub.[SUBSCRIBER_FIRSTNAME] + ' ' 
		+ ISNULL(sub.[SUBSCRIBER_PATRONYMIC], '') AS 'Имя абонента', 
        p.PHONE_NUMBER AS 'Номер телефона'  
    FROM SUBSCRIBER sub 
    JOIN PHONE_NUMBER p ON sub.SUBSCRIBER_ID = p.SUBSCRIBER_ID  
    WHERE p.PHONE_STATUS = 'Активен';  
GO
/****** Object:  UserDefinedFunction [dbo].[GetSubscriberData]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSubscriberData](@DataViewType INT)
RETURNS TABLE
AS
RETURN
(
    SELECT
        CASE WHEN @DataViewType IN (1, 2) 
             THEN s.[SUBSCRIBER_LASTNAME] + ' ' + s.[SUBSCRIBER_FIRSTNAME] + ' ' + ISNULL(s.[SUBSCRIBER_PATRONYMIC], '')
 ELSE NULL END AS 'Имя абонента',
        CASE WHEN @DataViewType = 1 
             THEN p.PHONE_NUMBER ELSE NULL END AS 'Номер телефона',
        CASE WHEN @DataViewType = 2 
             THEN p.PHONE_STATUS ELSE NULL END AS 'Статус номера',
        CASE WHEN @DataViewType = 2 
             THEN p.PHONE_ACTIVATION_DATE ELSE NULL END AS 'Дата подключения'
    FROM SUBSCRIBER s
    JOIN PHONE_NUMBER p ON s.SUBSCRIBER_ID = p.SUBSCRIBER_ID
);
GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SplitString]
(
    @InputString NVARCHAR(MAX),
    @Delimiter CHAR(1) = ','
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Id,
        value AS Substring
    FROM STRING_SPLIT(@InputString, @Delimiter)
    WHERE value <> ''
);
GO
/****** Object:  View [dbo].[ActiveSubscribers]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ActiveSubscribers]
AS
SELECT SUBSCRIBER_LASTNAME + ' ' + SUBSCRIBER_FIRSTNAME + ' ' + ISNULL(SUBSCRIBER_PATRONYMIC, '') AS [ФИО абонента], SUBSCRIBER_ADDRESS AS Адрес
FROM     dbo.SUBSCRIBER
WHERE  (SUBSCRIBER_STATUS = 'Активен')
GO
/****** Object:  View [dbo].[OngoingMaintenance]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[OngoingMaintenance] AS
SELECT 
    WORK_ID AS 'ID работы',
    EQUIPMENT_ID AS 'ID оборудования',
    WORK_START_DATE AS 'Начало работ'
FROM 
    dbo.MAINTENANCE
WHERE 
    WORK_END_DATE IS NULL;
GO
/****** Object:  View [dbo].[PaymentSummary]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PaymentSummary]
AS
SELECT dbo.SUBSCRIBER.SUBSCRIBER_LASTNAME + ' ' + dbo.SUBSCRIBER.SUBSCRIBER_FIRSTNAME + ' ' + ISNULL(dbo.SUBSCRIBER.SUBSCRIBER_PATRONYMIC, '') AS [ФИО абонента], SUM(dbo.PAYMENT.PAYMENT_AMOUNT) 
                  AS [Итоговая сумма платежей]
FROM     dbo.PAYMENT INNER JOIN
                  dbo.SUBSCRIBER ON dbo.PAYMENT.SUBSCRIBER_ID = dbo.SUBSCRIBER.SUBSCRIBER_ID
GROUP BY dbo.SUBSCRIBER.SUBSCRIBER_LASTNAME + ' ' + dbo.SUBSCRIBER.SUBSCRIBER_FIRSTNAME + ' ' + ISNULL(dbo.SUBSCRIBER.SUBSCRIBER_PATRONYMIC, '')
GO
/****** Object:  View [dbo].[PopularServices]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PopularServices]
AS
SELECT TOP (20) SERVICE_NAME AS [Название услуги], COUNT(TARIFF_ID) AS [Количество использований]
FROM     dbo.SERVICE
GROUP BY SERVICE_NAME
ORDER BY [Количество использований] DESC
GO
SET IDENTITY_INSERT [dbo].[CALL] ON 

INSERT [dbo].[CALL] ([CALL_ID], [CALLER_ID], [CALL_RECIPIENT_NUMBER], [CALL_DATE], [CALL_DURATION], [CALL_COST]) VALUES (1, 1, N'+7 (912) 345-67-89', CAST(N'2023-06-01T08:15:22.000' AS DateTime), 145, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[CALL] ([CALL_ID], [CALLER_ID], [CALL_RECIPIENT_NUMBER], [CALL_DATE], [CALL_DURATION], [CALL_COST]) VALUES (2, 2, N'+7 (913) 456-78-90', CAST(N'2023-06-01T09:30:45.000' AS DateTime), 237, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[CALL] ([CALL_ID], [CALLER_ID], [CALL_RECIPIENT_NUMBER], [CALL_DATE], [CALL_DURATION], [CALL_COST]) VALUES (3, 3, N'+7 (914) 567-89-01', CAST(N'2023-06-02T11:45:12.000' AS DateTime), 89, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[CALL] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_LAST_NAME], [EMPLOYEE_FIRST_NAME], [EMPLOYEE_PATRONYMIC], [EMPLOYEE_POSITION], [EMPLOYEE_EMAIL], [EMPLOYEE_STATUS]) VALUES (1, N'Иванов', N'Сергей', N'Петрович', N'Инженер связи', N'ivanov.sp@company.com', N'Активен')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_LAST_NAME], [EMPLOYEE_FIRST_NAME], [EMPLOYEE_PATRONYMIC], [EMPLOYEE_POSITION], [EMPLOYEE_EMAIL], [EMPLOYEE_STATUS]) VALUES (2, N'Петрова', N'Анна', N'Владимировна', N'Техник по ремонту', N'petrova.av@company.com', N'Активен')
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_LAST_NAME], [EMPLOYEE_FIRST_NAME], [EMPLOYEE_PATRONYMIC], [EMPLOYEE_POSITION], [EMPLOYEE_EMAIL], [EMPLOYEE_STATUS]) VALUES (3, N'Сидоров', N'Михаил', N'Игоревич', N'Сетевой администратор', N'sidorov.mi@company.com', N'Активен')
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[EQUIPMENT] ON 

INSERT [dbo].[EQUIPMENT] ([EQUIPMENT_ID], [PHONE_ID], [EQUIPMENT_TYPE], [EQUIPMENT_MODEL], [EQUIPMENT_STATUS], [EQUIPMENT_INSTALLATION_DATE]) VALUES (1, 1, N'Смартфон', N'Apple iPhone 14 Pro', N'Активно', CAST(N'2023-01-15' AS Date))
INSERT [dbo].[EQUIPMENT] ([EQUIPMENT_ID], [PHONE_ID], [EQUIPMENT_TYPE], [EQUIPMENT_MODEL], [EQUIPMENT_STATUS], [EQUIPMENT_INSTALLATION_DATE]) VALUES (2, 2, N'Смартфон', N'Samsung Galaxy S23', N'Активно', CAST(N'2023-01-20' AS Date))
INSERT [dbo].[EQUIPMENT] ([EQUIPMENT_ID], [PHONE_ID], [EQUIPMENT_TYPE], [EQUIPMENT_MODEL], [EQUIPMENT_STATUS], [EQUIPMENT_INSTALLATION_DATE]) VALUES (3, 3, N'Смартфон', N'Xiaomi Redmi Note 12', N'Активно', CAST(N'2023-02-05' AS Date))
SET IDENTITY_INSERT [dbo].[EQUIPMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[MAINTENANCE] ON 

INSERT [dbo].[MAINTENANCE] ([WORK_ID], [EQUIPMENT_ID], [EMPLOYEE_ID], [WORK_TYPE], [WORK_START_DATE], [WORK_END_DATE], [WORK_RESULT]) VALUES (1, 1, 5, N'Профилактика', CAST(N'2023-06-01T09:00:00.000' AS DateTime), CAST(N'2023-06-01T10:30:00.000' AS DateTime), N'Очистка от пыли, проверка работы')
INSERT [dbo].[MAINTENANCE] ([WORK_ID], [EQUIPMENT_ID], [EMPLOYEE_ID], [WORK_TYPE], [WORK_START_DATE], [WORK_END_DATE], [WORK_RESULT]) VALUES (2, 3, 2, N'Профилактика', CAST(N'2023-06-02T10:15:00.000' AS DateTime), CAST(N'2023-06-02T11:45:00.000' AS DateTime), N'Замена термопасты, диагностика')
INSERT [dbo].[MAINTENANCE] ([WORK_ID], [EQUIPMENT_ID], [EMPLOYEE_ID], [WORK_TYPE], [WORK_START_DATE], [WORK_END_DATE], [WORK_RESULT]) VALUES (3, 6, 7, N'Профилактика', CAST(N'2023-06-03T11:30:00.000' AS DateTime), CAST(N'2023-06-03T13:00:00.000' AS DateTime), N'Обновление ПО, тестирование')
SET IDENTITY_INSERT [dbo].[MAINTENANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [SUBSCRIBER_ID], [PAYMENT_AMOUNT], [PAYMENT_DATE], [PAYMENT_METHOD], [PAYMENT_STATUS]) VALUES (1, 1, CAST(300.00 AS Decimal(10, 2)), CAST(N'2023-01-05T09:15:22.000' AS DateTime), N'Банковская карта', N'Успешно')
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [SUBSCRIBER_ID], [PAYMENT_AMOUNT], [PAYMENT_DATE], [PAYMENT_METHOD], [PAYMENT_STATUS]) VALUES (2, 2, CAST(500.00 AS Decimal(10, 2)), CAST(N'2023-01-07T14:30:45.000' AS DateTime), N'Сбербанк Онлайн', N'Успешно')
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [SUBSCRIBER_ID], [PAYMENT_AMOUNT], [PAYMENT_DATE], [PAYMENT_METHOD], [PAYMENT_STATUS]) VALUES (3, 3, CAST(800.00 AS Decimal(10, 2)), CAST(N'2023-01-10T18:45:12.000' AS DateTime), N'Яндекс.Деньги', N'Успешно')
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONE_NUMBER] ON 

INSERT [dbo].[PHONE_NUMBER] ([PHONE_ID], [SUBSCRIBER_ID], [PHONE_NUMBER], [PHONE_STATUS], [PHONE_ACTIVATION_DATE]) VALUES (1, 1, N'+7 (912) 345-67-89', N'Приостановлен', CAST(N'2023-01-10' AS Date))
INSERT [dbo].[PHONE_NUMBER] ([PHONE_ID], [SUBSCRIBER_ID], [PHONE_NUMBER], [PHONE_STATUS], [PHONE_ACTIVATION_DATE]) VALUES (2, 2, N'+7 (913) 456-78-90', N'Активен', CAST(N'2023-01-15' AS Date))
INSERT [dbo].[PHONE_NUMBER] ([PHONE_ID], [SUBSCRIBER_ID], [PHONE_NUMBER], [PHONE_STATUS], [PHONE_ACTIVATION_DATE]) VALUES (3, 3, N'+7 (914) 567-89-01', N'Активен', CAST(N'2023-01-20' AS Date))
SET IDENTITY_INSERT [dbo].[PHONE_NUMBER] OFF
GO
SET IDENTITY_INSERT [dbo].[REQUEST_STATUS] ON 

INSERT [dbo].[REQUEST_STATUS] ([REQUEST_STATUS_ID], [REQUEST_STATUS_NAME]) VALUES (1, N'В обработке')
INSERT [dbo].[REQUEST_STATUS] ([REQUEST_STATUS_ID], [REQUEST_STATUS_NAME]) VALUES (2, N'В работе
')
INSERT [dbo].[REQUEST_STATUS] ([REQUEST_STATUS_ID], [REQUEST_STATUS_NAME]) VALUES (3, N'Выполнена')
SET IDENTITY_INSERT [dbo].[REQUEST_STATUS] OFF
GO
SET IDENTITY_INSERT [dbo].[REQUEST_TYPE] ON 

INSERT [dbo].[REQUEST_TYPE] ([REQUEST_TYPE_ID], [REQUEST_TYPE_NAME]) VALUES (1, N'Возврат средств')
INSERT [dbo].[REQUEST_TYPE] ([REQUEST_TYPE_ID], [REQUEST_TYPE_NAME]) VALUES (2, N'Жалоба')
INSERT [dbo].[REQUEST_TYPE] ([REQUEST_TYPE_ID], [REQUEST_TYPE_NAME]) VALUES (3, N'Информационный запрос')
SET IDENTITY_INSERT [dbo].[REQUEST_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE] ON 

INSERT [dbo].[SERVICE] ([SERVICE_ID], [TARIFF_ID], [SERVICE_NAME], [SERVICE_DESCRIPTION], [SERVICE_COST]) VALUES (1, 1, N'Роуминг по России', N'Звонки и интернет в поездках по РФ', CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[SERVICE] ([SERVICE_ID], [TARIFF_ID], [SERVICE_NAME], [SERVICE_DESCRIPTION], [SERVICE_COST]) VALUES (2, 1, N'Антиспам', N'Фильтрация спам-звонков', CAST(30.00 AS Decimal(10, 2)))
INSERT [dbo].[SERVICE] ([SERVICE_ID], [TARIFF_ID], [SERVICE_NAME], [SERVICE_DESCRIPTION], [SERVICE_COST]) VALUES (3, 1, N'Голосовая почта', N'Автоответчик с записью сообщений', CAST(25.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[SERVICE] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_REQUEST] ON 

INSERT [dbo].[SERVICE_REQUEST] ([REQUEST_ID], [SUBSCRIBER_ID], [REQUEST_TYPE_ID], [REQUEST_STATUS_ID], [REQUEST_DESCRIPTION], [REQUEST_CREATION_DATE]) VALUES (1, 1, 5, 3, N'Прошу подключить международный роуминг', CAST(N'2023-06-01T09:15:00.000' AS DateTime))
INSERT [dbo].[SERVICE_REQUEST] ([REQUEST_ID], [SUBSCRIBER_ID], [REQUEST_TYPE_ID], [REQUEST_STATUS_ID], [REQUEST_DESCRIPTION], [REQUEST_CREATION_DATE]) VALUES (2, 3, 5, 1, N'Необходимо активировать антивирус', CAST(N'2023-06-02T14:30:00.000' AS DateTime))
INSERT [dbo].[SERVICE_REQUEST] ([REQUEST_ID], [SUBSCRIBER_ID], [REQUEST_TYPE_ID], [REQUEST_STATUS_ID], [REQUEST_DESCRIPTION], [REQUEST_CREATION_DATE]) VALUES (3, 5, 6, 2, N'Интернет пропадает каждые 30 минут', CAST(N'2023-06-03T11:45:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SERVICE_REQUEST] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBSCRIBER] ON 

INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [SUBSCRIBER_LASTNAME], [SUBSCRIBER_FIRSTNAME], [SUBSCRIBER_PATRONYMIC], [SUBSCRIBER_ADDRESS], [SUBSCRIBER_CONNECTION_DATE], [SUBSCRIBER_STATUS], [SUBSCRIBER_TARIFF_ID]) VALUES (1, N'Намазов', N'Валентин', N'Альбертович', N'ул. Первомайская, 11', CAST(N'2024-12-03' AS Date), N'Активен', NULL)
INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [SUBSCRIBER_LASTNAME], [SUBSCRIBER_FIRSTNAME], [SUBSCRIBER_PATRONYMIC], [SUBSCRIBER_ADDRESS], [SUBSCRIBER_CONNECTION_DATE], [SUBSCRIBER_STATUS], [SUBSCRIBER_TARIFF_ID]) VALUES (2, N'Иванов', N'Иван', N'Иванович', N'ул. Ленина, 10, кв.5', CAST(N'2020-01-15' AS Date), N'Активен', 2)
INSERT [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID], [SUBSCRIBER_LASTNAME], [SUBSCRIBER_FIRSTNAME], [SUBSCRIBER_PATRONYMIC], [SUBSCRIBER_ADDRESS], [SUBSCRIBER_CONNECTION_DATE], [SUBSCRIBER_STATUS], [SUBSCRIBER_TARIFF_ID]) VALUES (3, N'Петров', N'Петр', NULL, N'пр. Мира, 25', CAST(N'2020-02-20' AS Date), N'Приостановлен', 3)
SET IDENTITY_INSERT [dbo].[SUBSCRIBER] OFF
GO
SET IDENTITY_INSERT [dbo].[TARIFF] ON 

INSERT [dbo].[TARIFF] ([TARIFF_ID], [TARIFF_NAME], [TARIFF_COST], [TARIFF_DESCRIPTION], [TARIFF_MINUTES_LIMIT], [TARIFF_DATA_LIMIT]) VALUES (1, N'Базовый', CAST(300.00 AS Decimal(10, 2)), N'Минимальный пакет услуг', 100, 1024)
INSERT [dbo].[TARIFF] ([TARIFF_ID], [TARIFF_NAME], [TARIFF_COST], [TARIFF_DESCRIPTION], [TARIFF_MINUTES_LIMIT], [TARIFF_DATA_LIMIT]) VALUES (2, N'Стандарт', CAST(500.00 AS Decimal(10, 2)), N'Основной тариф для ежедневного использования', 300, 5120)
INSERT [dbo].[TARIFF] ([TARIFF_ID], [TARIFF_NAME], [TARIFF_COST], [TARIFF_DESCRIPTION], [TARIFF_MINUTES_LIMIT], [TARIFF_DATA_LIMIT]) VALUES (3, N'Премиум', CAST(800.00 AS Decimal(10, 2)), N'Расширенный пакет с безлимитными минутами', 9999, 10240)
SET IDENTITY_INSERT [dbo].[TARIFF] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PHONE_NU__D94A4FFBE434AE47]    Script Date: 01.12.2025 13:57:11 ******/
ALTER TABLE [dbo].[PHONE_NUMBER] ADD  CONSTRAINT [UQ__PHONE_NU__D94A4FFBE434AE47] UNIQUE NONCLUSTERED 
(
	[PHONE_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TARIFF__5F58AA44540333A3]    Script Date: 01.12.2025 13:57:11 ******/
ALTER TABLE [dbo].[TARIFF] ADD  CONSTRAINT [UQ__TARIFF__5F58AA44540333A3] UNIQUE NONCLUSTERED 
(
	[TARIFF_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAYMENT] ADD  CONSTRAINT [DF_PAYMENT_PAYMENT_STATUS]  DEFAULT (N'В обработке') FOR [PAYMENT_STATUS]
GO
ALTER TABLE [dbo].[SERVICE_REQUEST] ADD  CONSTRAINT [DF_SERVICE_REQUEST_REQUEST_CREATION_DATE]  DEFAULT (getdate()) FOR [REQUEST_CREATION_DATE]
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD  CONSTRAINT [FK__CALL__CALLER_ID__6D0D32F4] FOREIGN KEY([CALLER_ID])
REFERENCES [dbo].[PHONE_NUMBER] ([PHONE_ID])
GO
ALTER TABLE [dbo].[CALL] CHECK CONSTRAINT [FK__CALL__CALLER_ID__6D0D32F4]
GO
ALTER TABLE [dbo].[EQUIPMENT]  WITH CHECK ADD  CONSTRAINT [FK__EQUIPMENT__PHONE__74AE54BC] FOREIGN KEY([PHONE_ID])
REFERENCES [dbo].[PHONE_NUMBER] ([PHONE_ID])
GO
ALTER TABLE [dbo].[EQUIPMENT] CHECK CONSTRAINT [FK__EQUIPMENT__PHONE__74AE54BC]
GO
ALTER TABLE [dbo].[MAINTENANCE]  WITH CHECK ADD  CONSTRAINT [FK__MAINTENAN__EMPLO__787EE5A0] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[MAINTENANCE] CHECK CONSTRAINT [FK__MAINTENAN__EMPLO__787EE5A0]
GO
ALTER TABLE [dbo].[MAINTENANCE]  WITH CHECK ADD  CONSTRAINT [FK__MAINTENAN__EQUIP__778AC167] FOREIGN KEY([EQUIPMENT_ID])
REFERENCES [dbo].[EQUIPMENT] ([EQUIPMENT_ID])
GO
ALTER TABLE [dbo].[MAINTENANCE] CHECK CONSTRAINT [FK__MAINTENAN__EQUIP__778AC167]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [FK__PAYMENT__SUBSCRI__534D60F1] FOREIGN KEY([SUBSCRIBER_ID])
REFERENCES [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID])
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [FK__PAYMENT__SUBSCRI__534D60F1]
GO
ALTER TABLE [dbo].[PHONE_NUMBER]  WITH CHECK ADD  CONSTRAINT [FK__PHONE_NUM__SUBSC__68487DD7] FOREIGN KEY([SUBSCRIBER_ID])
REFERENCES [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID])
GO
ALTER TABLE [dbo].[PHONE_NUMBER] CHECK CONSTRAINT [FK__PHONE_NUM__SUBSC__68487DD7]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK__SERVICE__TARIFF___60A75C0F] FOREIGN KEY([TARIFF_ID])
REFERENCES [dbo].[TARIFF] ([TARIFF_ID])
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK__SERVICE__TARIFF___60A75C0F]
GO
ALTER TABLE [dbo].[SERVICE_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK__SERVICE_R__SUBSC__6477ECF3] FOREIGN KEY([SUBSCRIBER_ID])
REFERENCES [dbo].[SUBSCRIBER] ([SUBSCRIBER_ID])
GO
ALTER TABLE [dbo].[SERVICE_REQUEST] CHECK CONSTRAINT [FK__SERVICE_R__SUBSC__6477ECF3]
GO
ALTER TABLE [dbo].[SERVICE_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_REQUEST_REQUEST_STATUS] FOREIGN KEY([REQUEST_STATUS_ID])
REFERENCES [dbo].[REQUEST_STATUS] ([REQUEST_STATUS_ID])
GO
ALTER TABLE [dbo].[SERVICE_REQUEST] CHECK CONSTRAINT [FK_SERVICE_REQUEST_REQUEST_STATUS]
GO
ALTER TABLE [dbo].[SERVICE_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_REQUEST_REQUEST_TYPE] FOREIGN KEY([REQUEST_TYPE_ID])
REFERENCES [dbo].[REQUEST_TYPE] ([REQUEST_TYPE_ID])
GO
ALTER TABLE [dbo].[SERVICE_REQUEST] CHECK CONSTRAINT [FK_SERVICE_REQUEST_REQUEST_TYPE]
GO
ALTER TABLE [dbo].[SUBSCRIBER]  WITH CHECK ADD  CONSTRAINT [FK_SUBSCRIBER_TARIFF] FOREIGN KEY([SUBSCRIBER_TARIFF_ID])
REFERENCES [dbo].[TARIFF] ([TARIFF_ID])
GO
ALTER TABLE [dbo].[SUBSCRIBER] CHECK CONSTRAINT [FK_SUBSCRIBER_TARIFF]
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD  CONSTRAINT [CK__CALL__CALL_COST__6C190EBB] CHECK  (([CALL_COST]>=(0)))
GO
ALTER TABLE [dbo].[CALL] CHECK CONSTRAINT [CK__CALL__CALL_COST__6C190EBB]
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD  CONSTRAINT [CK__CALL__CALL_DURAT__6B24EA82] CHECK  (([CALL_DURATION]>=(0)))
GO
ALTER TABLE [dbo].[CALL] CHECK CONSTRAINT [CK__CALL__CALL_DURAT__6B24EA82]
GO
ALTER TABLE [dbo].[CALL]  WITH CHECK ADD  CONSTRAINT [CK_CALL_RECIPIENT_NUMBER] CHECK  (([CALL_RECIPIENT_NUMBER] like '+7 ([0-9][0-9][0-9]) [0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]'))
GO
ALTER TABLE [dbo].[CALL] CHECK CONSTRAINT [CK_CALL_RECIPIENT_NUMBER]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [CK_EMPLOYEE_EMAIL] CHECK  (([EMPLOYEE_EMAIL] like '%_@__%.__%' AND [EMPLOYEE_EMAIL] like '%@company.com'))
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [CK_EMPLOYEE_EMAIL]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [CK__PAYMENT__PAYMENT__52593CB8] CHECK  (([PAYMENT_AMOUNT]>(0)))
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [CK__PAYMENT__PAYMENT__52593CB8]
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD  CONSTRAINT [CK_PAYMENT_STATUS] CHECK  (([PAYMENT_STATUS]='Отказ' OR [PAYMENT_STATUS]='Отменен' OR [PAYMENT_STATUS]='Ошибка' OR [PAYMENT_STATUS]='В обработке' OR [PAYMENT_STATUS]='Успешно'))
GO
ALTER TABLE [dbo].[PAYMENT] CHECK CONSTRAINT [CK_PAYMENT_STATUS]
GO
ALTER TABLE [dbo].[PHONE_NUMBER]  WITH CHECK ADD  CONSTRAINT [CK_PHONE_NUMBER] CHECK  (([PHONE_NUMBER] like '+7 ([0-9][0-9][0-9]) [0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]'))
GO
ALTER TABLE [dbo].[PHONE_NUMBER] CHECK CONSTRAINT [CK_PHONE_NUMBER]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [CK__SERVICE__SERVICE__5FB337D6] CHECK  (([SERVICE_COST]>=(0)))
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [CK__SERVICE__SERVICE__5FB337D6]
GO
ALTER TABLE [dbo].[TARIFF]  WITH CHECK ADD  CONSTRAINT [CK__TARIFF__TARIFF_C__5AEE82B9] CHECK  (([TARIFF_COST]>=(0)))
GO
ALTER TABLE [dbo].[TARIFF] CHECK CONSTRAINT [CK__TARIFF__TARIFF_C__5AEE82B9]
GO
ALTER TABLE [dbo].[TARIFF]  WITH CHECK ADD  CONSTRAINT [CK__TARIFF__TARIFF_D__5CD6CB2B] CHECK  (([TARIFF_DATA_LIMIT]>=(0)))
GO
ALTER TABLE [dbo].[TARIFF] CHECK CONSTRAINT [CK__TARIFF__TARIFF_D__5CD6CB2B]
GO
ALTER TABLE [dbo].[TARIFF]  WITH CHECK ADD  CONSTRAINT [CK__TARIFF__TARIFF_M__5BE2A6F2] CHECK  (([TARIFF_MINUTES_LIMIT]>=(0)))
GO
ALTER TABLE [dbo].[TARIFF] CHECK CONSTRAINT [CK__TARIFF__TARIFF_M__5BE2A6F2]
GO
/****** Object:  StoredProcedure [dbo].[CalculateTotalPayments]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CalculateTotalPayments]  
    @SubscriberID INT,  
    @TotalPayments DECIMAL(10,2) OUTPUT  
AS  
BEGIN  
    SELECT @TotalPayments = SUM(PAYMENT_AMOUNT)  
    FROM PAYMENT  
    WHERE SUBSCRIBER_ID = @SubscriberID;  

    RETURN;  
END;  
GO
/****** Object:  StoredProcedure [dbo].[GetCallsBySubscriberID]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCallsBySubscriberID]  
    @SubscriberID INT  
AS  
BEGIN  
    SELECT  
        c.CALL_ID AS 'ID звонка',  
        p.PHONE_NUMBER AS 'Номер абонента',  
        c.CALL_RECIPIENT_NUMBER AS 'Номер получателя',
        CEILING(ROUND(c.CALL_DURATION/60.0, 0)) AS 'Длительность (мин)',  
        c.CALL_COST AS 'Стоимость (руб)'  
    FROM CALL c  
    JOIN PHONE_NUMBER p ON c.CALLER_ID = p.PHONE_ID  
    WHERE p.SUBSCRIBER_ID = @SubscriberID  
    ORDER BY c.CALL_DATE DESC;  
END;  
GO
/****** Object:  StoredProcedure [dbo].[GetTariffsSortedByCost]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTariffsSortedByCost]  
AS  
BEGIN  
    SELECT  
        TARIFF_ID AS 'ID тарифа',  
        TARIFF_NAME AS 'Название',  
        TARIFF_COST AS 'Стоимость (руб/мес)',  
        TARIFF_MINUTES_LIMIT AS 'Лимит минут',  
        TARIFF_DATA_LIMIT AS 'Лимит данных (ГБ)'  
    FROM TARIFF  
    ORDER BY TARIFF_COST DESC;  
END;  

GO
/****** Object:  StoredProcedure [dbo].[GetTop5LongestCalls]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop5LongestCalls]  
AS  
BEGIN  
    SELECT TOP 5  
        c.CALL_ID AS 'ID звонка',  
        s.[SUBSCRIBER_LASTNAME] + ' ' 
		+ s.[SUBSCRIBER_FIRSTNAME] + ' ' 
		+ ISNULL(s.[SUBSCRIBER_PATRONYMIC], '') AS 'Имя абонента',  
        p.PHONE_NUMBER AS 'Номер телефона',
        CEILING(ROUND(c.CALL_DURATION/60.0, 0)) AS 'Длительность (мин)',  
        c.CALL_COST AS 'Стоимость (руб)'  
    FROM CALL c  
    JOIN PHONE_NUMBER p ON c.CALLER_ID = p.PHONE_ID  
    JOIN SUBSCRIBER s ON p.SUBSCRIBER_ID = s.SUBSCRIBER_ID  
    ORDER BY c.CALL_DURATION DESC;  
END;  
GO
/****** Object:  StoredProcedure [dbo].[UpdatePhoneStatus]    Script Date: 01.12.2025 13:57:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePhoneStatus]  
    @PhoneID INT,  
    @NewStatus NVARCHAR(20)  
AS  
BEGIN  
    UPDATE PHONE_NUMBER  
    SET PHONE_STATUS = @NewStatus  
    WHERE PHONE_ID = @PhoneID;  

    PRINT 'Статус номера успешно обновлен.';  
END;  

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[24] 4[16] 2[42] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SUBSCRIBER"
            Begin Extent = 
               Top = 7
               Left = 87
               Bottom = 170
               Right = 407
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2340
         Alias = 1656
         Table = 1224
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 84
         SortOrder = 84
         GroupBy = 1350
         Filter = 1128
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ActiveSubscribers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ActiveSubscribers'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[24] 4[10] 2[48] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PAYMENT"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBSCRIBER"
            Begin Extent = 
               Top = 7
               Left = 342
               Bottom = 170
               Right = 678
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 84
         SortOrder = 84
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PaymentSummary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PaymentSummary'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[29] 4[15] 2[13] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SERVICE"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 311
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 2412
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PopularServices'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'PopularServices'
GO
USE [master]
GO
